@font-face {
    font-family: 'TheJamsil5Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/TheJamsil5Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

#f_title{
	border-bottom: none;
	float: left;
	font-size: 20pt;
	margin-bottom: 10px;
}
thead img{
	width: 100px;
	height: 100px;
}
thead td{
	padding: 5px 0;
}
.content textarea{
	margin-left: 8.2%;
	margin-top: -30px;
	
}
.category select{
	width:110px;
	height: 30px;
}
.categorylist{
	font-size: 10pt;
}
tbody img{
	width: 50px;
	height: 50px;
}
.free{
	width:70px;
	margin: 0 auto;
	background-color: #8080c0 !important;
    color: #fff !important;
    border: 1px solid #486577 !important;
}
.archive{
	width:70px;
	margin: 0 auto;
	background-color: #1f6cde !important;
    color: #fff !important;
    border: 1px solid #486577 !important;
}
.tip{
	width:70px;
	margin: 0 auto;
	background-color: #ffc000 !important;
    color: #fff !important;
    border: 1px solid #486577 !important;
}
.survey{
	width:70px;
	margin: 0 auto;
	background-color: #2b3768 !important;
    color: #fff !important;
    border: 1px solid #486577 !important;
}
.review{
	width:70px;
	margin: 0 auto;
	background-color: #008080 !important;
    color: #fff !important;
    border: 1px solid #486577 !important;
}
.tline{
	font-family: 'TheJamsil5Bold';
	font-size: 10pt;
	display: inline-block;
}
.listm td{
	height: 30px;
}
.clike{
	color: rgb(222,0,0);
}
.clike span{
	color:#333;
}