/******************************** boardgame_club_view ********************************/

body {
    background-color: #f2f5f7;
}

#boardgame_club_view {
    width: 1280px;
    margin: 0 auto;
    padding-top: 100px;
}

.club_apply {
    padding: 20px 0;
    margin-bottom: 30px;
}

.club_apply .club_img {
    width: 730px;
    height: 730px;
    float: left;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    background-image: url("../img/peakyblinders.png");
    background-size: cover;
    position: relative;
}

.club_apply .club_img .cover {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.club_apply .club_img img {
    position: absolute;
    z-index: 10;
    top: 100px;
    left: 100px;
}

.club_apply .club_img .boardgame_detail {
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 60px;
    color: #fff;
}

.club_apply .club_img .boardgame_detail .title {
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
}

.club_apply .club_img .boardgame_detail .description {
    line-height: 26px;
}


.club_apply .club_info {
    float: left;
    margin-left: 18px;
}

.club_apply .club_info .club_detail {
    width: 478px;
    background-color: #fff;
    border-radius: 10px;
    padding: 25px;
    box-sizing: content-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.club_apply .club_info .club_title {
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    margin: 20px 0 20px 20px;
    text-align: center;
}

.club_apply .club_info .hashtag {
    text-align: center;
}

.club_apply .club_info .hashtag span {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 2px 6px;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 500;
    color: #555;
}

.club_apply .club_info .user_info {
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.03);
    margin: 20px 0;
    /*    border: 1px solid rgba(0, 0, 0, 0.1);*/
    border-radius: 20px;
}

.club_apply .club_info .user_info .user_img {
    width: 80px;
    height: 100%;
    float: left;
}

.club_apply .club_info .user_info .user_img img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin: 20px;
}

.club_apply .club_info .user_info .user_detail {
    margin: 20px 0;
}

.club_apply .club_info .user_info .user_detail .nickname {
    font-weight: 700;
    margin-bottom: 10px;
}

.club_apply .club_info .user_info .user_detail .career {
    font-size: 14px;
    color: #333;
    line-height: 14px;
}

.club_apply .club_info .detail {
    margin: 0 0 20px 20px;
}

.club_apply .club_info .detail .item {
    color: rgba(0, 0, 0, 0.8);
    font-weight: 700;
    font-size: 12px;
}

.club_apply .club_info .detail .info {
    font-size: 16px;
    line-height: 16px;
    color: #555;
}

.club_apply .club_info .club_fee {
    font-size: 22px;
    line-height: 22px;
    font-weight: 700;
    text-align: right;
    margin: 30px 20px 30px 0;
}

/* view_tab_menu */

.btn_wrap a {
    float: left;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 5px;
    margin-right: 5px;
    transition: ease-out .2s;
}

.btn_wrap a.apply_btn {
    padding: 11px 85px;
    color: #666;
    font-size: 18px;
    font-weight: 700;
    transition: ease-out .2s;
    margin: 0;
}

.btn_wrap a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.btn_wrap a.apply_btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.btn_wrap a img {
    width: 30px;
    height: 30px;
}

/* club_place */

.club_apply .club_info .club_boardgame {
    width: 528px;
    height: 244px;
    /*    background-color: #3CADD4;*/
    /*  Zima Blue  */
    background-color: #fff;
    /*    background-color: dimgrey;*/
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    padding: 20px;
    box-sizing: border-box;
}

.club_apply .club_info .club_boardgame p {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    color: #333;
    text-align: center;
}

.club_apply .club_info .club_boardgame div.boardgame_wrap {
    margin: 25px 0 0 30px;
}

.club_apply .club_info .club_boardgame div img {
    width: 130px;
    height: 130px;
    border-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 0 10px 10px 0;
    transition: ease-out .2s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.club_apply .club_info .club_boardgame div img.choice {
    border: 6px solid #76cc1e;
}

.club_apply .club_info .club_boardgame div img:hover {
    /*    transform: translateY(-10px);*/
    opacity: .8;
}

/* boardgame info */

.boardgame_info {
    width: 100%;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    margin-bottom: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/*view_tab menu */

.view_tab_menu li {
    float: left;
    width: 200px;
    height: 60px;
    background-color: #fff;
    border-radius: 30px 30px 0 0;
    background-color: rgba(0, 0, 0, 0.1);
    margin-right: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    line-height: 60px;
}

.view_tab_menu li.active {
    background-color: #fff;
}

#tab_wrap .tab {
    background-color: #fff;
    border-radius: 0 10px 10px 10px;
    display: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
}

#tab_wrap .active {
    display: block;
}

/* detail_tab */

.tab pre.detail {
    width: 80%;
    margin: 0 auto;
    padding: 50px 30px;
    box-sizing: content-box;
    white-space: pre-wrap;
    /* CSS3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
    overflow-wrap: break-word;
    /* Modern browsers */
    overflow-x: auto;
    /* Add horizontal scrollbar if necessary */
    overflow-y: hidden;
    /* Hide vertical scrollbar */
    font-size: 16px;
    line-height: 20px;
}

/* review tab */

.tab .review_wrap {

    padding: 20px 0;

}

.tab .reviewGuide {
    width: 80%;
    padding: 30px 10px;
    margin-left: 65px;
}

.tab .reviewGuide p {
    font-size: 16px;
    line-height: 20px;
}

.tab .reviewGuide a {
    
    display: block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    background-color: #000;
    font-size: 12px;
    color: #fff;
    text-align: center;
    margin: 10px 0;
    
}

.tab .review_wrap .review {
    position: relative;
    width: 90%;
    height: 100px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    box-sizing: border-box;
    transition: ease-out .2s;
    /*    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);*/
}

/*
.tab .review_wrap .review:hover {
    transform: translateY(-5px);
}
*/

.tab .review_wrap .review .img_wrap {
    width: 50px;
    height: 100%;
    float: left;
}

.tab .review_wrap .review img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.tab .review_wrap .review .txt_wrap {
    width: 94%;
    height: 100%;
    margin-left: 10px;
    float: left;
    position: relative;
}

.tab .review_wrap .review .txt_wrap .nickname {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
}

.tab .review_wrap .review .txt_wrap .sentence {
    font-size: 14px;
    line-height: 16px;
    color: #555;
}

.tab .review_wrap .review .txt_wrap .r_date {
    position: absolute;
    bottom: 5px;
    right: 0;
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}

.tab .review_wrap .review .txt_wrap .btn {
    position: absolute;
    top: 0;
    right: 0;
}


/* qna tab */

.tab .qna_wrap {

    padding: 20px 0;

}

.tab .qna_wrap .qna {
    position: relative;
    width: 90%;
    height: 100px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    box-sizing: border-box;
    transition: ease-out .2s;
}

/*
.tab .qna_wrap .qna:hover {
    transform: translateY(-5px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}
*/

.tab .qna_wrap .qna .img_wrap {
    width: 50px;
    height: 100%;
    float: left;
}

.tab .qna_wrap .qna img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

.tab .qna_wrap .qna .txt_wrap {
    width: 94%;
    height: 100%;
    margin-left: 10px;
    float: left;
    position: relative;
}

.tab .qna_wrap .qna .txt_wrap .nickname {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 5px;
}

.tab .qna_wrap .qna .txt_wrap .sentence {
    font-size: 14px;
    line-height: 16px;
    color: #555;
}

.tab .qna_wrap .qna .txt_wrap .r_date {
    position: absolute;
    bottom: 5px;
    right: 0;
    color: rgba(0, 0, 0, 0.5);
    font-size: 12px;
}

.tab .qna_wrap .qna .txt_wrap .btn {
    position: absolute;
    top: 0;
    right: 0;
}
