/* Boardgameclub_main */

@charset "utf-8";

/* Reset */

* {
    margin: 0;
    padding: 0;
}

ul,
ol,
li {
    list-style: none;
}

a {
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    color: #333;
}

img {
    vertical-align: top;
}

.clearfix {
    overflow: hidden;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

hr {
    display: block;
    height: 2px;
    border: 0;
}

html {
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    line-height: 1;
}






/* font set */

@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&family=Noto+Sans+KR&display=swap');
